:root {
	--small-mw: 50rem;
	--body-p: min(6.4vw, 2rem);
	--color-primary: #b0464b;
	--color-primary-dark: #64282b;
	--color-primary-light: #fb646b;
	--color-secondary: #6c24b1;
	--color-secondary-dark: #3e1565;
	--color-secondary-light: #ae5dfd;
	--color-grey-light: #ddd;
	--bg-color: #121212;
	--text-color: #fff;
}
