:root {
	--small-mw: 50rem;
	--body-p: min(6.4vw, 2rem);
	--color-primary: #b0464b;
	--color-primary-dark: #64282b;
	--color-primary-light: #fb646b;
	--color-secondary: #6c24b1;
	--color-secondary-dark: #3e1565;
	--color-secondary-light: #ae5dfd;
	--color-primary-rgb: 176, 70, 75;
  --color-primary-dark-rgb: 100, 40, 43;
  --color-primary-light-rgb: 251, 100, 107;
  --color-secondary-rgb: 108, 36, 177;
  --color-secondary-dark-rgb: 62, 21, 101;
  --color-secondary-light-rgb: 174, 93, 253;
	--bg-color: #121212;
	--text-color: #fff;
}
