{
   "extends":[
      "stylelint-config-sass-guidelines",
      "stylelint-order"
   ],
   "rules":{
      "order/order":[
         "dollar-variables",
         {
            "type":"at-rule",
            "name":"include",
            "hasBlock":false
         },
         "custom-properties",
         "at-variables",
         "declarations",
         "rules"
      ],
      "order/properties-order":[
         "content",
         "box-sizing",
         "position",
         "top",
         "right",
         "bottom",
         "left",
         "z-index",
         "display",
         "gap",
         "row-gap",
         "column-gap",
         "flex",
         "flex-flow",
         "flex-direction",
         "flex-wrap",
         "flex-grow",
         "flex-shrink",
         "flex-basis",
         "align-items",
         "align-content",
         "align-self",
         "justify-content",
         "order",
         "width",
         "min-width",
         "max-width",
         "height",
         "min-height",
         "max-height",
         "padding",
         "padding-top",
         "padding-right",
         "padding-bottom",
         "padding-left",
         "border",
         "border-collapse",
         "border-width",
         "border-style",
         "border-color",
         "border-top",
         "border-top-width",
         "border-top-style",
         "border-top-color",
         "border-right",
         "border-right-width",
         "border-right-style",
         "border-right-color",
         "border-bottom",
         "border-bottom-width",
         "border-bottom-style",
         "border-bottom-color",
         "border-left",
         "border-left-width",
         "border-left-style",
         "border-left-color",
         "border-image",
         "border-image-source",
         "border-image-slice",
         "border-image-width",
         "border-image-outset",
         "border-image-repeat",
         "border-spacing",
         "margin",
         "margin-top",
         "margin-right",
         "margin-bottom",
         "margin-left",
         "border-radius",
         "border-top-left-radius",
         "border-top-right-radius",
         "border-bottom-right-radius",
         "border-bottom-left-radius",
         "visibility",
         "float",
         "clear",
         "overflow",
         "overflow-x",
         "overflow-y",
         "-webkit-overflow-scrolling",
         "clip",
         "zoom",
         "font",
         "font-family",
         "font-size",
         "font-weight",
         "font-style",
         "font-variant",
         "font-size-adjust",
         "font-stretch",
         "font-effect",
         "font-emphasize",
         "font-emphasize-position",
         "font-emphasize-style",
         "line-height",
         "text-align",
         "text-align-last",
         "text-decoration",
         "text-emphasis",
         "text-emphasis-color",
         "text-emphasis-style",
         "text-emphasis-position",
         "text-indent",
         "text-justify",
         "text-transform",
         "text-outline",
         "text-wrap",
         "text-overflow",
         "text-overflow-ellipsis",
         "text-overflow-mode",
         "text-shadow",
         "white-space",
         "vertical-align",
         "letter-spacing",
         "word-spacing",
         "word-wrap",
         "word-break",
         "overflow-wrap",
         "-ms-word-break",
         "hyphens",
         "tab-size",
         "background",
         "background-color",
         "background-image",
         "background-repeat",
         "background-attachment",
         "background-position",
         "background-position-x",
         "background-position-y",
         "background-clip",
         "background-origin",
         "background-size",
         "color",
         "box-shadow",
         "opacity",
         "filter",
         "fill",
         "stroke",
         "pointer-events",
         "resize",
         "cursor",
         "user-select",
         "transform",
         "transform-origin",
         "transition",
         "transition-delay",
         "transition-timing-function",
         "transition-duration",
         "transition-property",
         "animation",
         "animation-name",
         "animation-duration",
         "animation-play-state",
         "animation-timing-function",
         "animation-delay",
         "animation-iteration-count",
         "animation-direction"
      ],
      "order/properties-alphabetical-order":null,
      "max-nesting-depth":[
         3,
         {
            "ignoreAtRules":[
               "each",
               "media",
               "supports",
               "include",
               "if",
               "for"
            ]
         },
         {
            "ignore":[
               "blockless-at-rules",
               "pseudo-classes"
            ]
         }
      ],
      "color-named":[
         "never",
         {
            "ignore":[
               "inside-function"
            ]
         }
      ],
      "scss/at-extend-no-missing-placeholder":null,
      "selector-max-compound-selectors":4,
      "selector-max-id":1,
      "indentation":"tab",
      "selector-no-qualifying-type":[
         true,
         {
            "ignore":[
               "attribute",
               "class"
            ]
         }
      ],
      "selector-class-pattern": null
   }
}