:root {
  --small-mw: 50rem;
  --body-p: min(6.4vw, 2rem);
  --color-primary: #b0464b;
  --color-primary-dark: #64282b;
  --color-primary-light: #fb646b;
  --color-secondary: #6c24b1;
  --color-secondary-dark: #3e1565;
  --color-secondary-light: #ae5dfd;
  --color-primary-rgb: 176, 70, 75;
  --color-primary-dark-rgb: 100, 40, 43;
  --color-primary-light-rgb: 251, 100, 107;
  --color-secondary-rgb: 108, 36, 177;
  --color-secondary-dark-rgb: 62, 21, 101;
  --color-secondary-light-rgb: 174, 93, 253;
  --bg-color: #121212;
  --text-color: #fff;
}

*:where(:not(iframe, canvas, img, svg, video, input, select, ul, ol, details, summary):not(svg *, symbol *)) {
  all: unset;
  display: revert;
}

:root {
  --global-lh: calc(1em + 0.25rem);
}

*,
*::before,
*::after {
  line-height: var(--global-lh);
}

a,
button {
  cursor: pointer;
}
a:hover,
button:hover {
  color: var(--color-primary);
  outline: 2px dashed currentColor;
  outline-offset: 0.2rem;
}
[data-theme=dark] a:hover,
[data-theme=dark] button:hover {
  color: inherit;
}

svg {
  fill: none;
  stroke: currentColor;
  stroke-width: 1.5;
  stroke-linecap: round;
  stroke-linejoin: round;
}

/** --------------------------------------------
 * 
 * Box sizing
 * 
 -------------------------------------------- */
*,
*::before,
*::after {
  box-sizing: inherit;
}

/** --------------------------------------------
 * 
 * Base styles for <html>
 * 
 -------------------------------------------- */
html {
  height: 100%;
  box-sizing: border-box;
  font-family: "Exo", monospace;
  font-size: 100%;
  font-weight: 500;
  color: var(--text-color);
  background: radial-gradient(rgba(var(--color-primary-dark-rgb), 0.625) 0, transparent 70%), linear-gradient(var(--bg-color) 40%, var(--color-secondary-dark) 70%);
  background-color: var(--bg-color);
}

/** --------------------------------------------
 * 
 * Base styles for <body>
 * 
 -------------------------------------------- */
body {
  min-height: 100%;
  text-rendering: optimizeSpeed;
  text-shadow: 0 0 0.25em rgb(200, 200, 200);
  line-height: 1.25;
  max-width: 90rem;
  margin: 0 auto;
  padding: var(--body-p);
}

/** --------------------------------------------
 * 
 * Apply outline only for keyboard users (and when browser considers user need it)
 * 
 -------------------------------------------- */
:focus:not(:focus-visible) {
  outline: 0;
}

:focus-visible {
  outline-style: auto;
}

/** --------------------------------------------
 * 
 * Screen reader only CSS class (https://gist.github.com/ffoodd/000b59f431e3e64e4ce1a24d5bb36034)
 * 
 -------------------------------------------- */
.sr-only {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  border: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  white-space: nowrap !important;
  clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
}

/** --------------------------------------------
 * 
 * Indicates that user has notified the system that they prefer an interface that removes or replaces the types of motion-based animation that trigger discomfort.
 * 
 -------------------------------------------- */
@media (prefers-reduced-motion: reduce) {
  *,
::before,
::after {
    transition-duration: 0.001ms !important;
    animation-duration: 0.001ms !important;
    animation-iteration-count: 1 !important;
  }
}
/** --------------------------------------------
 * 
 * Applies styles to the part of a document that has been highlighted by the user
 * 
 -------------------------------------------- */
::selection {
  color: #fff;
  background-color: var(--color-primary);
}

p a {
  text-decoration: underline;
}
a .external {
  position: relative;
  top: -0.5em;
  font-size: 75%;
  text-decoration: none;
}

p:where(:not(:last-child)) {
  margin-bottom: 1em;
}
p b {
  font-weight: 700;
}

h1,
h2,
h3 {
  margin-bottom: var(--body-p);
}

h1 {
  position: relative;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  text-transform: uppercase;
  font-weight: 900;
  font-size: clamp(1.75rem, 3vw + 0.75rem, 3.375rem);
  text-shadow: none;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(to bottom, var(--color-primary-light), var(--color-secondary-light));
  filter: drop-shadow(0.14em 0.14em 0.22em var(--color-secondary)) drop-shadow(-0.14em -0.14em 0.22em var(--color-primary));
}
@media (min-width: 40rem) {
  h1::after {
    content: "";
    position: absolute;
    top: -0.36em;
    right: -0.36em;
    width: 1em;
    height: 1em;
    background: radial-gradient(white 3%, rgba(255, 255, 255, 0.3) 15%, rgba(255, 255, 255, 0.05) 60%, transparent 80%), radial-gradient(rgba(255, 255, 255, 0.2) 50%, transparent 60%) 50% 50%/5% 100%, radial-gradient(rgba(255, 255, 255, 0.2) 50%, transparent 60%) 50% 50%/70% 5%;
    background-repeat: no-repeat;
    opacity: 0.75;
  }
}
h1 ::selection {
  -webkit-text-fill-color: white;
}
h1 svg {
  width: var(--global-lh);
  height: var(--global-lh);
  vertical-align: bottom;
}
h1 span {
  display: inline-block;
}

h2 {
  font-size: clamp(1.25rem, 2vw + 0.5rem, 1.563rem);
}

.subtitle {
  text-align: center;
  font-weight: 500;
  text-shadow: none;
}
.subtitle__content {
  --square-size: 0.3em;
  --square-offset: calc(var(--square-size) * 1.5);
  --square-direction: 1;
  --word-my: 0.5em;
  margin: calc(var(--word-my) * -1);
}
.subtitle__word {
  --px: 1.25em;
  position: relative;
  display: block;
  width: fit-content;
  margin: var(--word-my) auto;
  text-align: center;
  font-style: italic;
  font-weight: 900;
  text-transform: uppercase;
}
@media (min-width: 40rem) {
  .subtitle__word {
    display: inline-block;
  }
}
.subtitle__word:nth-of-type(2) {
  --square-direction: -1;
}
.subtitle__word::before, .subtitle__word::after {
  --s: 0.3em;
  content: "";
  position: absolute;
  z-index: 1;
  width: var(--square-size);
  height: var(--square-size);
  background-color: var(--bg-color);
}
.subtitle__word::before {
  bottom: 0;
  left: calc(var(--px) / 2);
  box-shadow: calc(var(--square-offset) * var(--square-direction) * -1) var(--square-offset) 0 0 var(--color-primary);
}
.subtitle__word::after {
  top: 0;
  right: calc(var(--px) / 2);
  box-shadow: calc(var(--square-offset) * var(--square-direction)) calc(var(--square-offset) * -1) 0 0 var(--color-secondary);
}
.subtitle__word span {
  display: block;
  padding: 0.25em var(--px);
  background-image: linear-gradient(45deg, var(--color-primary), var(--color-secondary));
  clip-path: polygon(0 100%, calc(var(--px) / 2) 0, 100% 0, calc(100% - var(--px) / 2) 100%);
}
.subtitle br {
  display: none;
}
@media (min-width: 40rem) {
  .subtitle br {
    display: block;
  }
}
@media (min-width: 64rem) {
  .subtitle br {
    display: none;
  }
}

.btn {
  position: relative;
  padding: 0.5em 1em;
  border-radius: 100em;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.6), 0 3px 0 4px var(--color-primary-dark), inset 0 1px 0 0 rgba(255, 255, 255, 0.5);
  background-image: linear-gradient(to bottom, var(--color-primary-light), var(--color-primary));
  color: #fff;
  font-weight: 900;
  text-transform: uppercase;
  text-shadow: none;
}
.btn:hover {
  outline: none;
}
.btn:hover, .btn:focus-visible {
  color: #fff;
  background-image: none;
  background-color: var(--color-primary);
}
.btn:active {
  transform: translateY(3px);
  box-shadow: inset 0 0 3px 0 rgba(0, 0, 0, 0.4), 0 0 0 4px var(--color-primary-dark);
}

.grid {
  perspective: 700px;
  position: fixed;
  bottom: -120vh;
  left: 50%;
  width: 300vw;
  height: 300vh;
  z-index: -1;
  pointer-events: none;
  transform: translateX(-50%);
}
.grid::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(transparent 65%, rgba(var(--color-secondary-rgb), 0.4) 75%, var(--color-secondary) 80%, rgba(var(--color-secondary-rgb), 0.4) 85%, transparent 95%), linear-gradient(90deg, transparent 65%, rgba(var(--color-secondary-rgb), 0.4) 75%, var(--color-secondary) 80%, rgba(var(--color-secondary-rgb), 0.4) 85%, transparent 95%);
  background-size: 30px 30px;
  mask-image: linear-gradient(black, rgba(0, 0, 0, 0) 80%);
  transform: rotateX(-100deg);
}
@media (prefers-reduced-motion: no-preference) {
  .grid::after {
    animation: grid 180s linear infinite;
  }
}

@keyframes grid {
  from {
    background-position: bottom center;
  }
  to {
    background-position: top center;
  }
}
.main {
  --rad: 1rem;
  --p: .2rem;
  position: relative;
  z-index: 0;
  padding: var(--p);
  border-radius: var(--rad);
  background-image: linear-gradient(45deg, var(--color-primary), var(--color-secondary));
}
.main::before {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  filter: blur(10px);
  background-image: linear-gradient(45deg, var(--color-primary-light), var(--color-secondary-light));
}
.main__content {
  padding: 2rem;
  border-radius: calc(var(--rad) - var(--p));
  background-color: var(--bg-color);
  box-shadow: inset 0.625rem -0.625rem 1.25rem -0.625rem var(--color-primary-light), inset -0.625rem 0.625rem 1.25rem -0.625rem var(--color-secondary-light);
}

/*# sourceMappingURL=styles.css.map */