.switch {
	--gap: 1rem;
	--content-p: 0 0 0 var(--gap);
	display: flex;
	row-gap: calc(var(--gap) / 2);
	flex-wrap: wrap;
	align-items: center;
	align-content: flex-start;
	font-size: 0.875rem;
	font-weight: 700;
	
	@media (min-width: 48rem) {
		font-size: 1rem;
	}
	
	&:focus-within {
		--outline: auto;
	}
	
	&__content {
		display: flex;
		align-items: center;
		padding: var(--content-p);
		font-weight: 400;
		
		&:hover {
			--outline: auto;
		}
	
		> * {
			&:not(:last-child) {
				padding-right: var(--gap);
			}
		}
	}

	&--device {
		--content-p: 0 var(--gap);
		justify-content: center;
		padding: 0 var(--gap);
	}
	
	svg {
		flex: 0 0 auto;
		width: 2em;
		height: 2em;
		margin-right: calc(var(--gap) / 2);
		color: var(--svg-c);
	}
	
	input {		
		&:not(:checked) {
			+ label {
				--svg-c: var(--color-primary-light);
				cursor: pointer;

				[data-theme='dark'] & {
					color: var(--svg-c);
				}
			}
		}
		
		&:checked {
			+ label {
				--svg-c: var(--color-primary);
				
				[data-theme='dark'] & {
					--svg-c: var(--color-primary-lightest);
				}
				
				svg {
					animation: choice 0.6s;
				}
			}
		}
		
		&:nth-of-type(1) {
			&:not(:checked) {
				+ label {
					z-index: 1;
				}
			}
		}
		
		&:nth-of-type(2) {
			&:checked {
				+ label {
					--tX: calc(var(--w) - 100% - var(--o) * 2);	
				}
			}
		}
	}
	
	label {
		--w: 2.5rem;
		--h: 1.5rem;
		--s: 0.675;
		--o: calc(var(--h) * (1 - var(--s)) / 2);
		--tX: 0;
		position: relative;
		display: flex;
		align-items: center;
		
		&:nth-of-type(1) {		
			&::after {
				content: '';
				position: absolute;
				top: 0;
				bottom: 0;
				left: 100%;
				width: var(--w);
				cursor: pointer;
			}
		}
		
		&:nth-of-type(2) {
			&::before {
				content: '';
				flex: 0 0 auto;
				width: var(--w);
				height: var(--h);
				margin-right: var(--gap);
				border-radius: 50rem;
				background-color: var(--color-primary);
				cursor: pointer;
				outline: var(--outline, none);
				outline-offset: 0.25rem;
			} 
			
			&::after {
				content: '';
				position: absolute;
				top: 50%;
				left: var(--o);
				width: calc(var(--h) * var(--s));
				height: calc(var(--h) * var(--s));
				border-radius: 50%;
				background-color: var(--white);
				cursor: pointer;
				transform: translateX(var(--tX)) translateY(-50%);
				transition: transform 0.2s;

				[data-theme='dark'] & {
					background-color: var(--color-primary-dark);
				}
			}
		}
	}
}

@keyframes choice {
	50% {
		transform: scale(1.2);
	}

	100% {
		transform: none;
	}
}
