.footer {
	margin-top: 4rem;
	background-color: var(--color-primary-light);
	background-image: radial-gradient(circle at 16% 83%, rgba(148, 148, 148, 0.06) 0%, rgba(148, 148, 148, 0.06) 50%, rgba(63, 63, 63, 0.06) 50%, rgba(63, 63, 63, 0.06) 100%),radial-gradient(circle at 68% 87%, rgba(66, 66, 66, 0.06) 0%, rgba(66, 66, 66, 0.06) 50%, rgba(105, 105, 105, 0.06) 50%, rgba(105, 105, 105, 0.06) 100%),radial-gradient(circle at 38% 50%, rgba(123, 123, 123, 0.06) 0%, rgba(123, 123, 123, 0.06) 50%); // Inspired by https://www.gradientmagic.com/collection/popular/gradient/1575422519244
	
	[data-theme='dark'] & {
		background-color: var(--color-primary-dark);
	}
	
	&__sep {
		line-height: 0;
		transform: scaleY(-1);
		
		svg {
			width: 100%;
			height: 3rem;
		}
		
		path {
			fill: var(--bg-color);
			stroke: var(--bg-color);
		}
	}
	
	&__content {
		max-width: 90rem;
		padding: var(--body-px);
		margin: 0 auto;
	}
	
	h2 {
		margin-bottom: 1.5rem;
		font-size: min(5vw, 1.75rem);
		font-weight: 700;
		color: var(--color-primary);
		font-variant-caps: petite-caps;
		
		&:not(:first-of-type) {
			margin-top: 2.5rem;
		}
	}
	
	h3 {
		margin: 1.5rem 0 1rem;
		font-variant-caps: petite-caps;
		font-size: min(4.5vw, 1.5rem);
	}
}

.tip {
	padding-bottom: var(--body-px);
	border-bottom: 0.0625rem solid rgba(255, 255, 255, 0.5);
	margin-bottom: var(--body-px);
	text-align: center;

	a {
		display: inline-flex;
	}
}
